@mixin animation-pulse() {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes pulse {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.4);
    }
  }

  @keyframes dance {
    from {
      transform: rotate(30deg);
    }
    to {
      transform: rotate(-30deg);
    }
  }
}

@mixin animation-dance() {
  animation-duration: 0.7s;
  animation-name: dance;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes dance {
    from {
      transform: rotate(30deg);
    }
    to {
      transform: rotate(-30deg);
    }
  }
}

@mixin animation-bounce() {
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-40px);
    }
  }
}
