$color-black: #000;
$color-white: #fff;
$color-grey-light: #ddd;
$color-orange: #ff5a00;

$border-style: 1px solid $color-grey-light;

$break-xs: 360px;
$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;
