@import '../../styles/variables';
@import '../../styles/mixins';

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;

  &.green {
    background-color: #006600;
  }

  &.blue {
    background-color: #333399;
  }

  &.red {
    background-color: #cc0000;
  }
}

.map {
  height: calc((100vh - 69px - 64px - 60px) / 2);
  width: 100%;
  overflow: hidden;

  @media (min-width: $break-xl) {
    height: calc(100vh - 69px - 64px - 60px);
  }

  &__marker {
    position: relative;

    &-tooltip {
      display: none;
      position: absolute;
      top: -85px;
      background-color: $color-white;
      height: 70px;
      width: 120px;
      z-index: 10000;
      border-radius: 10px;
      box-shadow: 10px 10px 35px -20px rgba(0, 0, 0, 0.75);

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      @media (min-width: $break-xl) {
        top: -120px;
        height: 100px;
        width: 200px;
      }
    }

    &--visible-tooltip {
      .map__marker-tooltip {
        display: block;
      }
    }

    &.selected {
      img {
        filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);

        @include animation-pulse;

        z-index: 100000;

        height: 60px;
      }
    }

    img {
      height: 50px;
      z-index: 1;

      &:hover {
        @include animation-pulse;
      }
    }
  }
}
