@import '../../styles/variables';
@import '../../styles/mixins';
.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  &.green {
    background-color: #006600;
  }
  &.blue {
    background-color: #333399;
  }
  &.red {
    background-color: #cc0000;
  }
}
.map {
  height: calc((100vh - 69px - 64px) / 2);
  width: 100%;
  overflow: hidden;

  &__marker {
    position: relative;

    &-tooltip {
      display: none;
      position: absolute;
      top: -120px;
      background-color: $color-white;
      height: 100px;
      width: 200px;
      z-index: 10000;
      border-radius: 10px;
      box-shadow: 10px 10px 35px -20px rgba(0, 0, 0, 0.75);

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--visible-tooltip {
      .map__marker-tooltip {
        display: block;
      }
    }

    img {
      height: 50px;

      &:hover {
        @include animation-pulse;
      }
    }
  }
}
