@import '~antd/dist/antd.css';
@import 'styles/variables';
@import 'styles/mixins';

.ant-layout-header {
  background-color: $color-white;
  border-bottom: $border-style;
}

.icon-footer {
  margin-left: 4px;

  @include animation-pulse;
}
