@import '~antd/dist/antd.css';
@import 'styles/variables';
@import 'styles/mixins';

.ant-layout-header {
  background-color: $color-white;
  border-bottom: $border-style;
}

.ant-layout-content {
  background-color: $color-white;
}

.ant-card-head-title {
  white-space: normal;
}

.ant-btn-primary {
  background-color: $color-orange;
  border-color: $color-orange;

  &:hover,
  &:focus {
    background-color: #be4000 !important;
    border-color: #be4000 !important;
  }
}

.ant-modal-footer {
  display: none;
}

.icon-footer {
  margin: 0 4px;

  @include animation-pulse;
}

.text {
  &-red {
    color: #d50000;
  }

  &-orange {
    color: #ff8f00;
  }

  &-green {
    color: #43a047;
  }

  &-pink {
    color: #f50057;
  }
}

.anticon-gift {
  @include animation-dance;

  path {
    fill: goldenrod;
  }
}

.ant-modal {
  width: 90vw !important;

  img {
    display: none;
  }

  canvas {
    display: none !important;
  }

  .legend {
    display: none;
  }

  .gutter-box {
    margin-bottom: 40px;
  }

  @media (min-width: $break-xl) {
    .gutter-box {
      margin-bottom: 0;
    }

    img {
      display: inline-block;
    }

    width: 50vw !important;
  }
}

.button-modal {
  &-first {
    margin-top: 30px;
    margin-bottom: 20px;

    @media (min-width: $break-xs) {
      margin-bottom: 0;
      margin-right: 10px;
    }
  }

  &-second {
    @media (min-width: $break-xs) {
      margin-left: 10px;
    }
  }
}
