@import '../../styles/variables';

.select-point {
  min-height: calc(100vh - 69px - 64px);
  padding: 30px;
  position: relative;
  overflow: hidden;

  &__spinner {
    &-container {
      text-align: center;

      .ant-spin {
        color: $color-black;

        .ant-spin-dot-item {
          background-color: $color-orange;
        }
      }
    }
  }

  &__info {
    &-container {
      margin-top: 30px;

      @media (min-width: $break-xl) {
        background: #ececec;
        padding: 30px;
        margin-top: 0;
        min-height: calc(100vh - 69px - 64px - 60px);
      }

      &--empty {
        margin-top: 30px;
      }
    }

    &-column {
      margin-top: 30px;

      @media (min-width: $break-xl) {
        margin-top: 0;
      }
    }
  }
}
