@import '../../styles/variables';

.select-point,
.edit-point {
  min-height: calc(100vh - 69px - 64px);
  padding: 30px;
  position: relative;
  overflow: hidden;

  &__spinner {
    &-container {
      text-align: center;

      .ant-spin {
        color: $color-black;

        .ant-spin-dot-item {
          background-color: $color-orange;
        }
      }
    }
  }

  &__switch,
  &__button {
    &-container {
      margin-bottom: 2rem;
      margin-top: 2rem;
      text-align: center;

      .ant-switch {
        color: $color-orange;
      }
    }
  }

  &__info {
    &-container {
      margin-top: 30px;

      @media (min-width: $break-xl) {
        margin-top: 0;
        min-height: calc(100vh - 69px - 64px - 60px);
      }

      &--empty {
        margin-top: 30px;
      }
    }

    &-column {
      margin-top: 30px;

      &:first-child {
        margin-top: 0;
      }

      @media (min-width: $break-xl) {
        .ant-card {
          min-height: calc(100vh - 69px - 64px - 60px - 80px);
        }

        margin-top: 0;
      }
    }

    &-cta {
      text-align: center;

      @media (min-width: $break-xl) {
        text-align: right;
      }
    }
  }
}
